
<%= form_for @grounddetail,html: { multipart: true } do |f| %>

  <% if @grounddetail.errors.any? %>
        <div id="error_explanation">
          <h2><b><%= pluralize(@grounddetail.errors.count, "error") %> </b>prohibited this grounddetail from being saved:</h2>

          <ul>
          <% @grounddetail.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
  <% end %>
  <div class = "form-group">
  <%= f.label :name, 'Ground Name:' %>
  <%= f.text_field :name, class: "form-control", placeholder: 'Enter Ground Name' %>
  </div>
  <div class = "form-group"><i class="fa fa-clock-o"></i>
  <%= f.label :working_hours, 'Ground Time:' %><br>
  From <%= f.time_select :working_hours, { minute_step: 60 } %> To <%= f.time_select :end_time, { minute_step: 60 } %>
  </div>
  <div class = "form-group"><i class="fa fa-map-marker"></i>
  <%= f.label :address, 'Address:' %>

  <%= f.text_field :address, class: "form-control", placeholder: 'Ground Address' %>
  </div>
  <div class = "form-group"><i class="fa fa-map-o"></i>
  <%= f.label :iframe, 'Ground Map Location:' %>

  <%= f.text_field :iframe, class: "form-control", placeholder: 'iFrame' %>
  </div>
  <div class = "form-group"><i class="fa fa-phone"></i>
  <%= f.label :contact_no, 'Contact Number:' %>
  <%= f.text_field :contact_no, class: "form-control", placeholder: 'Enter Contact Number' %>
  </div>
  <div class = "form-group"><i class="fa fa-envelope"></i>
  <%= f.label :email, 'E-mail:' %>
  <%= f.text_field :email, class: "form-control", placeholder: 'Enter email address' %>
  </div>
  <div class = "form-group">
  <%= f.label :number_of_grounds, "Number Of Grounds In Futstal:" %>
  <%= f.number_field :number_of_grounds, class: "form-control", placeholder: 'Enter number of grounds in futstal' %>
  </div>
  <div class = "form-group">
  <%= f.label :description, "Ground Description:" %>
  <%= f.text_area :description, class: "form-control", placeholder: 'Enter ground description' %>
  </div>
  <div class = "form-group"><i class="fa fa-hashtag"></i>

  <%= f.label :featured_ground, "Add Featured" %>
  <%= f.check_box :featured_ground %>
  </div>
  <div class="form-group"><i class="fa fa-camera"></i>
        <%= f.label :image%>
        <%= f.file_field :image%>
  </div>
<div class="btn-group">
  <%= f.submit 'Submit', :class => 'btn btn-primary' %>

<% end %>  
</div>



