<div class="container">
<div class="page-header">
  <h1>All Grounds<small></small></h1>
</div>
<div class="row">
<% @grounddetails.each do |grounddetail| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
            <%= link_to image_tag(grounddetail.image.url(:small), class: 'image'), grounddetail %>
            <ul><h4><%=grounddetail.name%></h4></ul>

            <ul><span><i class="fa fa-map-marker"> <%= grounddetail.address %></i></span></ul>
            <ul><strong>Working Hours:</strong> <%= grounddetail.working_hours.strftime("%l:%M %P") %> to <%= grounddetail.end_time.strftime("%l:%M %P") %></ul>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>