<div class="container"><!-- Body Container -->
<div class="row">  
<div class="col-xs-6">
	<div class="jumbotron">
		<div class="page-header"><h2><%= @grounddetail.name %></h2><i class="fa fa-money"></i><small> price table </small>
		</div>
Number Of Grounds : <%= @grounddetail.number_of_grounds %><br>

<% @prices.each do |price| %>
<%# @grounddetails.each do |grounddetail| %>

<table class="table">
<tr><th>Morning Price </th> <td>Nrs. <%=price.mprice%></td></tr>
<tr><th>Afternoon Price </th> <td> NRs. <%=price.aprice%></td></tr>
<tr><th>Evening Price: </th> <td> NRs. <%=price.eprice%></td></tr>
<tr><th>Holiday Price: </th> <td> NRs. <%=price.wkprice%></td></tr>
<tr><th>Working Hours:</th><td><%#= grounddetail.working_hours.strftime("%l:%M %P") %> To <%#= grounddetail.end_time.strftime("%l:%M %P") %></td></tr>
</table>
<% end %>
</div>
</div>
</div>
</div>